[Unit]
Description=StageAutoControl controller process
Documentation=https://github.com/stageautocontrol/controller

[Install]
WantedBy=multi-user.target
Alias=controller.service

[Service]
After=network-online.target
Wants=network-online.target
Restart=always
RestartSec=10
Type=simple
ExecStart={{ controller_base_path }}/bin/controller server -s {{ storage_path }}
